# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Log
*.log

# Eclipse
.cproject
.project
.settings/
Debug/

# Autotools
*.in
*.m4
.deps
.dirstamp
Makefile
ar-lib
autom4te.cache
compile
config.guess
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
.libs

# Packaging
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Check Framework
*.test
*.trs
test-driver

# asn1c compiled output
libasn1fort

# Temporal files
*~

# Spamfiles spewn by other OSs
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
